body {
	font-family: Arial, sans-serif;
  }
  
  h1 {
	text-align: center;
  }
  
  #exercises {
	margin-bottom: 20px;
  }
  
  p {
	margin: 0;
  }
  
  input[type="text"] {
	width: 100px;
  }
  
  button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	margin-bottom: 20px;
	font-size: 16px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #3e8e41;
  }
  
  #result {
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
  }
  
  #result.green {
	color: green;
  }
  
  #result.red {
	color: red;
  }
  